{% load static %}
<link rel="stylesheet" type="text/css" href="ruta/a/tu/styles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="search-bar">
    <form method="get">
        <input type="text" placeholder="Buscar..." name="buscar" value="{{ request.GET.buscar}}">
        <button type="submit">Buscar</button>
    </form>
</div>