{% load static %}
<link rel="stylesheet" type="text/css" href="ruta/a/tu/styles.css">

<div class="contPagina">
    <nav>
        <ul class="paginaUl">
            
            {% if users.has_previous %}
            <li class="itemPagina">
                <a class="paginaA" href="?page=1">Primera</a>
            </li>
            <li class="itemPagina">
                <a class="paginaA" href="?page={{ users.previous_page_number }}">&laquo;
                </a>
            </li>
            {% endif %}

            {% for pagina in paginas %}
            <li class="itemPagina {% if pagina == users.number %}current-page{% endif %}">
                <a class="paginaA" href="?page={{ pagina }}">{{ pagina }}</a>
            </li>
            {% endfor %}

            {% if users.has_next %}
            <li class="itemPagina">
                <a class="paginaA" href="?page={{ users.next_page_number }}">&laquo;
                </a>
            </li>
            <li class="itemPagina">
                <a class="paginaA" href="?page={{ users.paginator.num_pages }}">Última
                </a>
            </li>
            {% endif %}

        </ul>
    </nav>
</div>